@media only screen and (max-width: 700px){
    .header-p2 img{
        width: 100% !important;
    }
}

.flex-header{
    display:flex;
    height: fit-content;
}

.header-p1{
    width: 50%;
}

.header-p1 div{
    position: relative;
    height: 50%;
}

.header-p1 div h1{
    position:absolute;
    bottom:0;
    font-size: calc(3rem + 3vw);
}

.header-p2{
    width: 50%;
}

.header-p2 img{
    width: 50%;
}