@media only screen and (max-width: 700px){
    .header-p2 img{
        width: 100%;
    }
}

.flex-header{
    display:flex;
    height: fit-content;
}

.header-p1{
    width: 50%;
}

.header-p1 div{
    height: 50%;
}

.header-p1 div h1{
    vertical-align: text-bottom;
}

.header-p2{
    width: 50%;
}

.header-p2 img{
    width: 50%;
}