@media only screen and (max-width: 700px){
    
}

.flex-header{
    display:flex;
    height: fit-content;
}

.header-p1{
    width: 50%;
}

.header-p2{
    width: 50%;
}

.header-p2 img{
    width: 50%;
}