#main{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    padding: 1rem;
}

#sidebar{
    position: fixed;
    height: inherit;
    width: 30vw;
}

#sidebar-control{
    position: relative;
    width: calc(3rem + 5vw);
    height: calc(3rem + 5vw);
    margin-bottom: 1rem;
}

#info{
    position: relative;
    height: inherit;
    width: calc(70vw - 2rem);
    margin-left: 30vw;
}