#main{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    padding: 1rem;
}

#sidebar{
    position: fixed;
    height: inherit;
    width: 30vw;
}

#sidebar-control{
    position: relative;
    width: calc(3rem + 3vw);
    height: calc(3rem + 3vw);
    margin-bottom: 1rem;
    padding: calc((3rem + 3vw) / 10);
}

#sidebar-control .sidebar-bar{
    background-color: #FFFFFF;
    border-radius: 5px;
}

#sidebar-control #bar-v{
    width: 10%;
    height: 80%;
}

#sidebar-control #bar-h{
    width: 80%;
    height: 10%;
}

#info{
    position: relative;
    height: inherit;
    width: calc(70vw - 2rem);
    margin-left: 30vw;
}