@media only screen and (max-width: 700px){
    .item-desc{
        height: 50vh !important;
    }
    .flex-item{
        width: 100% !important;
    }
}

.item-left p{
    display: block;
    text-align: center;
}

.item-right img{
    width: 100%;
}

.item-title{
    font-size: 3rem;
}

.item-short{
    font-size: 1.5rem;
}

.item-desc{
    height: 25vh;
    overflow-y: auto;
}