@media only screen and (max-width: 700px){
    
}

.flex-container{
    position: relative;
    display: flex;
    height: fit-content;
    width: 100%;
}

.flex-front{
    flex-wrap: wrap;
}

.flex-back{
    flex-wrap: wrap-reverse;
}

.flex-item{
    width: 45%;
    padding: 1rem;
}

.text{
    position: absolute;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

.image{
    width: 50%;
    margin-left: 50%;
}

.image img{
    width: 100%;
}